*{
  font-family:  Helvetica, Arial, sans-serif;
}

html{
  background-color: white;
}

body{
  padding: 60px;
}

input {
  width: 70%;
  margin: 10px;
  color: grey;
}

button{
  border-radius: 2px solid black;
  -webkit-border-radius: 2px solid black;
  -moz-border-radius: 2px solid black;
  -ms-border-radius: 2px solid black;
  -o-border-radius: 2px solid black;
  cursor: pointer;
}

form{
  align-items: center;
  display: flex;
  justify-content: center;

}

button:hover{
  background-color: aliceblue;
  color: black;
}

.cart-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart{
  width: 250px;
  border: 1px solid grey;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  
}

.cart p {
  padding: 5px;
  text-align: center;
}

.cart img{
  width: 100%;
  justify-content: center;
  align-items: center;
}
